.breadcrumb
	.ui.huge.breadcrumb
		a.section(href=`${GLOBAL.config.server.host}/auth/channel`)=user
		- let route = GLOBAL.config.server.host
		each value, index in breadcrumb
			.divider /
			- route = `${route}/${value.id}`
			if index != breadcrumb.length - 1
				a.section(href=`${route}/index`)= value.name
			else
				.section=value.name
