.breadcrumb
	.ui.huge.breadcrumb
		a.section(href=`/man/${GLOBAL['id']}`)=GLOBAL[ 'user' ]
		if GLOBAL[ 'year' ]
			.divider /
			a.section(href=`/man/${GLOBAL['id']}/${GLOBAL['year']}`)=GLOBAL[ 'year' ]
		if GLOBAL[ 'type' ]
			.divider /
			a.section(href=`/man/${GLOBAL['id']}/${GLOBAL['year']}/${GLOBAL['type']}`)=GLOBAL[ 'type' ]
		if GLOBAL[ 'campus' ]
			.divider /
			a.section(href=`/man/${GLOBAL['id']}/${GLOBAL['year']}/${GLOBAL['type']}/${GLOBAL['campus']}`)=GLOBAL[ 'campus' ]
		if GLOBAL[ 'graph']
			.divider /
			a.section(href=`/man/${GLOBAL['id']}/${GLOBAL['year']}/${GLOBAL['type']}/${GLOBAL['campus']}/graph`)=GLOBAL[ 'graph' ]