mixin renderCampus(campus)
  form.node.ui.segment.center.aligned.grid(action=`/man/${GLOBAL.id}/file/delete`, method='POST')
    p.eight.wide.column=campus[0]
    .three.wide.column
      a.ui.button(href=`/man/${GLOBAL['id']}/${GLOBAL['year']}/${GLOBAL['type']}/${campus[0]}`) 編輯
    .three.wide.column
      input.ui.button.two.wide.column(type='submit', value='刪除')

    input.campus_id(type='hidden', name='campus_id', value=campus[1])
    input.user_id(type='hidden', name='user_id', value=GLOBAL['id'])