mixin renderYear(obj)
  .rectangle-box.year
    .ui.segment.center.aligned.grid
      .ui.two.column.row
        h3.yearHeader= obj.year
        .mini.ui.icon.top.right.pointing.dropdown.basic.button
          i.icon.ellipsis.vertical
          .menu
            .header 資訊
            .item= obj.progression
              .floating.ui.red.label 進度
            .item= obj.unsolved
              .floating.ui.red.label 尚未解決
            .item= obj.time
              .floating.ui.red.label 時間
      .ui.row
        .ui.bottom.left.attached.teal.label=obj.user.name
        .seven.wide.column
          if obj.user.id == GLOBAL['id']
            a.ui.button.option(href=`/mid-long-term/${GLOBAL.id}/${GLOBAL.type['id']}/${GLOBAL.campus['id']}/${obj.dataId}/file/edit`) 編輯
          else
            a.ui.button.option(href=`/mid-long-term/${GLOBAL.id}/${GLOBAL.type['id']}/${GLOBAL.campus['id']}/${GLOBAL.campus['id']}/${obj.dataId}/file/review`) 檢閱
          a.ui.button.option(href=`/mid-long-term/${GLOBAL.id}/${GLOBAL.type['id']}/${GLOBAL.campus['id']}/${obj.dataId}/graph/index`) 圖表
          //-a.ui.button.option(href=`/mid-long-term/${GLOBAL.id}/${GLOBAL.type['id']}/${GLOBAL.campus['id']}/${obj.dataId}/download/index`) 下載
          button.ui.button.option.deleteBtn(type='submit', value=`/mid-long-term/${GLOBAL.id}/${GLOBAL.type['id']}/${GLOBAL.campus['id']}/${obj.dataId}/file/delete` ) 刪除

