mixin renderYear(obj)
  .rectangle-box.year
    .ui.segment.center.aligned.grid
      .ui.two.column.row
        h3.yearHeader= obj.year
        .mini.ui.icon.top.right.pointing.dropdown.basic.button
          i.icon.ellipsis.vertical
          .menu
            .header 資訊
            .item= GLOBAL['user']
            .item= obj.progression
            .item= obj.unsolved
            .item= obj.time
      .ui.row
        .seven.wide.column
          a.ui.button.option(href=`/mid-long-term/${GLOBAL.id}/${GLOBAL.type['id']}/${GLOBAL.campus['id']}/${obj.dataId}/file/edit`) 編輯
          a.ui.button.option(href=`/mid-long-term/${GLOBAL.id}/${GLOBAL.type['id']}/${GLOBAL.campus['id']}/${obj.year}/graph/index`) 圖表
          a.ui.button.option(href=`/mid-long-term/${GLOBAL.id}/${GLOBAL.type['id']}/${GLOBAL.campus['id']}/${obj.year}/download/index`) 下載
          button.ui.button.option.deleteBtn(type='submit', value=`/mid-long-term/${GLOBAL.id}/${GLOBAL.type['id']}/${GLOBAL.campus['id']}/${obj.year}/file/delete` ) 刪除

