for val in contents
	form.ui.form.segment.editNode
		.fields
			.eight.wide.field
				.fields
					.eight.wide.field
						label 開始頁
						input.page__start(type='number' value=val.pageFrom disabled)
					.eight.wide.field
						label 結束頁
						input.page__end(type='number' value=val.pageTo disabled)
				.four.wide.field
					.ui.container.center.aligned.choice-block
						button.ui.button.change(type='submit') 修改
				.four.wide.field
					.ui.container.center.aligned.choice-block
						button.ui.button.check(type='submit') 保持
		.fields
			.five.wide.field
				label 建議構面
				.conflictedAspect=val.conflictedAspect
			.five.wide.field
				label 建議推動重點
				.conflictedKeypoint=val.conflictedKeypoint
			.five.wide.field
				label 建議推動作法
				.conflictedMethod=val.conflictedMethod
		.fields
			.four.wide.field
				label 大標題
				input.title1(value = val.title1 disabled)
			.four.wide.field
				label 中標題
				input.title2(value = val.title2 disabled)
			.four.wide.field
				label 小標題
				input.title3(value = val.title3 disabled)
			.four.wide.field
				label 最小標題
				input.title4(value = val.title4 disabled)
		.field
			label 內容
			textarea.content(name="", rows="5")= val.content
		.field
			label 摘要
			textarea.summary(name="", rows="2")= val.summary
			label 備註
			textarea.note(name="", rows="1")= val.note
		input.node-index(type='hidden' value = val.contentId)