for val in contents
	form.ui.form.segment.editNode
		.fields
			.eight.wide.field
				.fields
					.eight.wide.field
						label 開始頁
						input.page__start(type='number' value=val.pageFrom disabled)
					.eight.wide.field
						label 結束頁
						input.page__end(type='number' value=val.pageTo disabled)
			if val.isChecked == 0
				.four.wide.field
					.ui.container.center.aligned.choice-block
						button.ui.button.recommend(type='submit') 建議
				.four.wide.field
					.ui.container.center.aligned.choice-block
						button.ui.button.check(type='submit') 確認
			else
				.eight.wide.field
					.ui.green.large.label=`已經由${val.reviewerId}審核`
		.six.fields
			if val.isChecked == 0
				.field
					label 原構面
					.ui.large.label.aspect=val.aspect
				.field
					label 原推動重點
					.ui.large.label.keypoint=val.keypoint
				.field
					label 原推動作法
					.ui.large.label.method=val.method
				.field
					label 建議構面
					if val.conflictedAspect
						.ui.large.label.conflictedAspect=val.conflictedAspect
					else
						.ui.large.label.conflictedAspect='尚未建議'
				.field
					label 建議推動重點
					if val.conflictedKeypoint
						.ui.large.label.conflictedKeypoint=val.conflictedKeypoint
					else
						.ui.large.label.conflictedKeypoint='尚未建議'
				.field
					label 建議推動作法
					if val.conflictedMethod
						.ui.large.label.conflictedMethod=val.conflictedMethod
					else
						.ui.large.label.conflictedMethod='尚未建議'
			else
				.five.wide.field
					label 構面
					.ui.large.label.aspect=val.aspect
				.five.wide.field
					label 推動重點
					.ui.large.label.keypoint=val.keypoint
				.five.wide.field
					label 推動作法
					.ui.large.label.method=val.method
		.fields
			.four.wide.field
				label 大標題
				input.title1(value = val.title1 disabled)
			.four.wide.field
				label 中標題
				input.title2(value = val.title2 disabled)
			.four.wide.field
				label 小標題
				input.title3(value = val.title3 disabled)
			.four.wide.field
				label 最小標題
				input.title4(value = val.title4 disabled)
		.field
			label 內容
			textarea.content(name="", rows="5" disabled)= val.content
		.field
			label 摘要
			textarea.summary(name="", rows="2" disabled)= val.summary
			label 備註
			textarea.note(name="", rows="1" disabled)= val.note
		input.node-index(type='hidden' value = val.contentId)