each val in GLOBAL['contents']
	form.ui.form.segment
		.four.fields
			.three.wide.field
				.fields
					.eight.wide.field
						label 開始頁面
						input.page__start(type='number' value=val[ 'pageStart' ])
					.eight.wide.field
						label 結束頁面
						input.page__end(type='number' value=val[ 'pageEnd'])
			.nine.wide.field
				label 標題
				input.title(value=val[ 'title' ])
			.two.wide.field
				.ui.container.center.aligned(style='padding-top: 1rem')
					button.ui.button.save(type='submit') 儲存
			.two.wide.field
				.ui.container.center.aligned(style='padding-top: 1rem')
					button.ui.button.delete(type='submit') 刪除
		.field
			label 內容
			textarea.content(name="", rows="5")=val[ 'content' ]
		input.node-index(type='hidden' value=val[ 'contentId' ])